@charset "UTF-8"

* {
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
}
body{
    background-image: linear-gradient(to bottom, #C4F2EE, #CED0F2);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #9495add3;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #0388A6;
    text-align: center;
    text-shadow: 1px 1px 2px #037994da;
}
h2{
    color: #64abbbe8;
}
p {
    text-align: justify;
}